<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="TCC-2017-2-WebPU" transaction-type="JTA">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <jta-data-source>java:app/jdbc/tcc-2017</jta-data-source>
    <class>br.edu.ifsul.modelo.Cidade</class>
    <class>br.edu.ifsul.modelo.Compra</class>
    <class>br.edu.ifsul.modelo.CompraItens</class>
    <class>br.edu.ifsul.modelo.ContasPagar</class>
    <class>br.edu.ifsul.modelo.ContasReceber</class>
    <class>br.edu.ifsul.modelo.Entrega</class>
    <class>br.edu.ifsul.modelo.Estado</class>
    <class>br.edu.ifsul.modelo.Pessoa</class>
    <class>br.edu.ifsul.modelo.Produtos</class>
    <class>br.edu.ifsul.modelo.Telefone</class>
    <class>br.edu.ifsul.modelo.Venda</class>
    <class>br.edu.ifsul.modelo.VendaItens</class>
    <properties>
      <property name="hibernate.hbm2ddl.auto" value="update"/>
      <property name="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/>
      <property name="hibernate.transaction.jta.platform" value="org.hibernate.service.jta.platform.internal.SunOneJtaPlatform"/>
      <property name="hibernate.classloading.use_current_tccl_as_parent" value="false"/>
    </properties>
  </persistence-unit>
</persistence>
